{% extends 'website/partials/website_base.html' %} 
{% load static %} 

{% block main_content %}
<!-- Header Section Start -->
<header id="home" class="hero-area nav-hero">
  <div class="overlay">
    <span></span>
    <span></span>
  </div>

  {# Navbar #} {% include 'website/partials/website_navbar.html' %}

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="contents">
          <h5 style="color: white; font-size: large;">THE PRESIDENT’S WELCOME & VISION</h5>
          <p>Greetings in the name of our transformer, Jesus Christ.</p>
          <p>It is indeed an honor and my privilege to note something visible and readable on the 2024 Handbook of Davuilevu Theological College. Obviously, it is the beginning of an academic year of the institution and no doubt, in a very challenging time.</p>
          <p>I give thanks to God almighty for his trust and support for the new leadership of the College. A new leader with his visions cannot be materialized without the support of staff members and the community. Let the communal sense of belonging and unity drive the hearts of DTC towards success at the end of the academic year. The leadership of the church is also embracing on Christian principles and virtues to guide the community of DTC into a new horizon.</p>
          <p>Our world is moving faster to somewhere and everything is changing. The pace is unbearable and it is difficult to comprehend what is emerging and occurring within our human communities. New technologies and physical developments are pushing human beings into a new world with different mindsets and languages used in a common ground. The competitive spirit within our human society is a major concern to our religious organizations, as we always predict and foresee the unity in diversity within the household of God. Climate change is also a worrying issue for the inhabitants of our beloved country. Human beings begin to raise their concern and awareness regarding the rising sea-level and associate issues within. The behavior and attitude of humankind is becoming a worrying issue for the survival and sustainability of God’s creation in the whole world.</p>
          <p>However, God has given us knowledge and insight to think outside the box and acquire what is relevant and appropriate for this modern age. Our College is currently offering religious discipline courses as primary tools of service on the ground. Ironically, the emergence of socio-economic issues and even political issues, challenge and confront our clergies off-guard. The curriculum of the College should be reviewed in order to respond and counter the emergence of different facet of issues. It is appropriate to design the College’s curriculum as a reflection of the current challenges of the day. We cannot escape from the new challenges that are confronting us daily.</p>
          <p>We need to merge or blend the religious perspectives and secular views of any emerging issues in context. In this regard, the language may somehow make the difference. It’s the right time to use different lenses or glasses and to see a particular object from different angles. Different strategies with different approaches will add more strength to our mission. Hopefully, its time to make a shift and move forward cautiously with courage and determination. Our ministers and deaconesses are challenged with issues such as: conflicts or tensions within the traditional leaderships; Church and Vanua relationship; Climate change; issues surrounding the ownership and utilization of resources; indiscipline and bad management of wealth and resources; rising povertyy in the country; issues of diaspora and broken families; cyber- crime and drug addiction; violence against women and children and so forth. These are real issues within our different communities.</p>
          <p>We need to re-design and re-focus our training programs to meet the demands of our different communities. May we continue to equip and send students with appropriate tools.</p>
          <p>May God bless our beloved College.</p>
          <p><em>Rev. Dr. Semisi Turagavou<br>PRESIDENT of Methodist Church in Fiji</em></p>         
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="contents">
          <h5 style="color: white; font-size: large;">PRINCIPAL’S FOREWORD</h5>
          <h5>Welcome Message from the Principal</h5>
        <p>As Principal of the College, I take this time and space to welcome each and every member of the Davuilevu Theological College and the Methodist family at large. The College belongs to you, in as much as you belong to the college, that relationship and connection have proven stronger over the course of 116 years since the College moved from Navuloa to Davuilevu in 1908.</p>
        <p>I took over the reign of leadership of the college after my predecessor the Rev. Dr. Jolami Lasawa ascends to the position as General Secretary of the Methodist Church in Fiji. I cannot thank him enough for the enormous effort he has shown over the years in directing this learning community in all aspects of college life. And I salute his family as well.</p>
        <p>This academic year is a full house one in that all three streams of Diplomas [Years 1-3], and the Bachelor of degree Year Three, are part of the Academic Programme. More to that is the fact that DTC will be gearing up for the 2025 Accreditation Processes and the college will be preparing for this programme accreditation mandate this year. It implies that DTC is accredited by the Higher Education Commission Fiji [HECF], and the South Pacific Association of Theological Schools [SPATS]. Both these accrediting bodies have really lifted the quality and standard of Theological Education. This is a green light in that Theological Education here at DTC cannot really afford to be lagging behind, or remain complacent in terms of development, striving to be relevant, be influential, and be in par with the challenges and opportunities of a contemporary Fiji.</p>
        <p>This year will mark the preparation for the launching of the Master’s Degree in 2025. It is a far cry from the years of Lth., Diploma, and BD as standard academic program here at DTC. Preparations include designing new courses, designing pathways for the program, acquiring the services of brilliant minds in the field, uplifting of infrastructure, getting the program accredited by SPATS and HECF, and the financial side of this higher standard of academic learning. Shortly, DTC will witness the opening of the new Master’s Program building to coincide with the launching next year. That building will remain a living testimony to the financial contribution of present and past Ministers within the MCIF. And to add on to that, it showcases what Ministers can further contribute to the MCIF in terms of finances using the concept of ‘kacivi yaca’.</p>
        <p>Ecumenism is very much alive in DTC with the inclusion of students from the Anglican Church. However, courses here at DTC are in themselves transcending the boundary of a ‘confined ecclesiological way of Theological thinking’, to a broader and more inclusive one for that matter. Arguably, courses are doing wonders in these aspects of academic journey. DTC intends to reaffirm that its roots are deeply entrenched in the soil of Methodism with newness, and freshness. The life and work of our current and future Ministers will be shaped, and molded by a sort of theology that is deeply stooped in the soil of Methodism in Fiji. That in-depth knowledge will direct the 2024 theme “Towards a Quality and Effective Theological Education”. And DTC will think deeply into achieving that theme. With certainty and hope, DTC will venture into the end of the year graduation in both programs of study. Wishing DTC a blessed Academic Year.</p>
        <p><em>Rev. Savenaca Vuetanavanua<br>PRINCIPAL</em></p>
    
        </div>
      </div>
    </div>
  </div>
</header>


{% endblock %}
