{% extends 'new_templates/base.html' %} 
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<head>
    
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'articles/css/tw_theme.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous" />
</head>

<body>
    <div class="container mx-auto mt-3">
        <div class="banner">
            <div class="banner-bg">
                <img src="{{ object.featured_image.url }}" alt="{{ object.title }}" style="width: 500px; height: 350px; display: block; margin: 0 auto;" />
            </div>
        </div>
    </div>
     <!-- Article  -->
    <div class="container mx-auto">
        <div class="article-content-wrapper flex"> 
            <div class="flex-card mx-auto">
                <div class="flex flex-col text-center" >
                    <span class="text-gray-600 font-bold mt-3">Written by {{ object.author|title }}</span>
                    </span>
                </div>

                </div>
            </div>
            <div class="rightbar-top col-span-2 pl-20 pt-3 mt-3 w-4/5">
                <h2 class="article-title mb-5 text-4xl text-blue-400 font-bold">
                    {{ object.title }}
                </h2>
                <div>
                    {{ object.content|safe }}
                </div>
                
            </div>
        </div>

        <!-- Related articles -->
        <section id="most-popular" class="my-12 px-12">
            <div class="related-articles">
                <div class="section-title uppercase w-full">Related Articles</div>
                <div class="section-wrapper grid grid-cols-4 gap-10">
                    {% for article in object.get_related_articles %}
                        <div class="single-article">
                            <div class="img-wrapper h-60 mb-3">
                                <a href="{{ article.get_absolute_url }}">
                                    <img class="object-fill w-full h-full rounded-xl shadow-xl" 
                                        src="{{ article.featured_image.url }}" 
                                        alt="" 
                                    />
                                </a>
                            </div>
                            <div class="sa-title mb-3 w-full capitalize text-2xl font-bold gray-700">
                                <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                            </div>
                            <div class="sa-short-desc w-full text-justify text-gray-600">
                                <a href="{{ article.get_absolute_url }}">
                                    {{ article.short_description }}
                                </a>
                            </div>
                            <div class="sa-meta"></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>

</body>

{% endblock %}